@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
    <h2>Cuentas Bancarias</h2>
<table>
    <thead>
        <tr>
            <th>Nombre del Titular</th> <br>
            <th>Tipo de Cuenta</th>
            <th>Saldo Inicial</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
       
    </tbody>
</table>
